@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --background: linear-gradient(180deg,#1C1C3D, #202040);
  --textbox_bg: linear-gradient(135deg, #29296230, #13122837);
  --foreground: #ffffff;
  --font-pixelify: "Pixelify Sans", cursive;
  --font-orbitron: "Orbitron", monospace;
  --font-spacegtk: "Space Grotesk", sans-serif;
  --glow-filter : drop-shadow(0 0 5px #ffffff1c) drop-shadow(0 0 10px #ffffff1c);
}

body {
  background: var(--background);
  background-image: no-repeat;
  color: var(--foreground);
  min-height: 100vh;
}

h1 {
  font-family: var(--font-orbitron);
  text-shadow: 0 0 5px #ffffff3d, 0 0 10px #ffffff3d, 0 0 15px #ffffff3d;
}

p {
  font-family: var(--font-spacegtk);

}

